// Define your mixins here
@mixin mainFont {
  font-family: $mainFont;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive-font($min-size, $max-size) {
  font-size: $min-size;
  @include desktop() {
    font-size: $max-size;
  }
}


@mixin set-color($inverted:false){
  @if $inverted {
    color: var(--mainColor);
    background-color: var(--textColor);
  } @else {
    color: var(--textColor);
    background-color: var(--mainColor);
  }
}