---
import { Icon } from 'astro-icon/components'
---
<div>
  <p class="hello inverted"><Icon name="lucide:message-circle" />Hi, I am</p>
  <h1><span>Nicolas Chesné</span><span>a French <Icon class="food" name="lucide:croissant" aria-label="A pictogram of a croissant" /></span><span>fullstack freelancer</span></h1>
</div>

<style lang="scss">
div {
  margin: 3rem auto 5rem;
  max-width: 1400px;
  p {
    margin: 0.6rem 0;

    &.hello {
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      width: fit-content;
    }
  }
  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    & > span {
      text-align: center;
    }

    & > span:first-child {
      align-self: flex-start;
      text-align: left;
    }

    & > span:last-child {
      align-self: flex-end;
      text-align: right;
    }

    .food {
      animation: 1.8s giggle infinite;

      @keyframes giggle {
        0% {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(18deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
    }
  }
}
</style>