---
import { Icon } from "astro-icon/components";
---

<header class="shadowed">
    <div itemprop="logo">
        <!-- <svg
            width="71"
            height="33"
            viewBox="0 0 71 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M1.4456 32.125C1.01018 32.125 0.664403 32.0091 0.408274 31.7772C0.177758 31.5453 0.0625 31.2748 0.0625 30.9656C0.0625 30.6564 0.177758 30.3859 0.408274 30.154C0.664403 29.9221 1.01018 29.8062 1.4456 29.8062H9.66733C10.1027 29.8062 10.4357 29.9221 10.6662 30.154C10.9224 30.3859 11.0504 30.6564 11.0504 30.9656C11.0504 31.2748 10.9224 31.5453 10.6662 31.7772C10.4357 32.0091 10.1027 32.125 9.66733 32.125H1.4456ZM21.1163 32.125C20.6809 32.125 20.3351 32.0091 20.079 31.7772C19.8484 31.5453 19.7332 31.2748 19.7332 30.9656C19.7332 30.6564 19.8484 30.3859 20.079 30.154C20.3351 29.9221 20.6809 29.8062 21.1163 29.8062H29.338C29.7734 29.8062 30.1064 29.9221 30.3369 30.154C30.5931 30.3859 30.7211 30.6564 30.7211 30.9656C30.7211 31.2748 30.5931 31.5453 30.3369 31.7772C30.1064 32.0091 29.7734 32.125 29.338 32.125H21.1163ZM1.4456 27.1781C1.01018 27.1781 0.664403 27.0622 0.408274 26.8303C0.177758 26.5984 0.0625 26.3279 0.0625 26.0187C0.0625 25.7095 0.177758 25.439 0.408274 25.2071C0.664403 24.9752 1.01018 24.8593 1.4456 24.8593H9.66733C10.1027 24.8593 10.4357 24.9752 10.6662 25.2071C10.9224 25.439 11.0504 25.7095 11.0504 26.0187C11.0504 26.3279 10.9224 26.5984 10.6662 26.8303C10.4357 27.0622 10.1027 27.1781 9.66733 27.1781H1.4456ZM21.1163 27.1781C20.6809 27.1781 20.3351 27.0622 20.079 26.8303C19.8484 26.5984 19.7332 26.3279 19.7332 26.0187C19.7332 25.7095 19.8484 25.439 20.079 25.2071C20.3351 24.9752 20.6809 24.8593 21.1163 24.8593H29.338C29.7734 24.8593 30.1064 24.9752 30.3369 25.2071C30.5931 25.439 30.7211 25.7095 30.7211 26.0187C30.7211 26.3279 30.5931 26.5984 30.3369 26.8303C30.1064 27.0622 29.7734 27.1781 29.338 27.1781H21.1163ZM1.4456 22.2313C1.01018 22.2313 0.664403 22.1153 0.408274 21.8835C0.177758 21.6516 0.0625 21.381 0.0625 21.0719C0.0625 20.7627 0.177758 20.4921 0.408274 20.2603C0.664403 20.0284 1.01018 19.9124 1.4456 19.9124H9.66733C10.1027 19.9124 10.4357 20.0284 10.6662 20.2603C10.9224 20.4921 11.0504 20.7627 11.0504 21.0719C11.0504 21.381 10.9224 21.6516 10.6662 21.8835C10.4357 22.1153 10.1027 22.2313 9.66733 22.2313H1.4456ZM21.1163 22.2313C20.6809 22.2313 20.3351 22.1153 20.079 21.8835C19.8484 21.6516 19.7332 21.381 19.7332 21.0719C19.7332 20.7627 19.8484 20.4921 20.079 20.2603C20.3351 20.0284 20.6809 19.9124 21.1163 19.9124H29.338C29.7734 19.9124 30.1064 20.0284 30.3369 20.2603C30.5931 20.4921 30.7211 20.7627 30.7211 21.0719C30.7211 21.381 30.5931 21.6516 30.3369 21.8835C30.1064 22.1153 29.7734 22.2313 29.338 22.2313H21.1163ZM1.4456 17.2844C1.01018 17.2844 0.664403 17.1685 0.408274 16.9366C0.177758 16.7047 0.0625 16.4342 0.0625 16.125C0.0625 15.8158 0.177758 15.5453 0.408274 15.3134C0.664403 15.0815 1.01018 14.9656 1.4456 14.9656H9.66733C10.1027 14.9656 10.4357 15.0815 10.6662 15.3134C10.9224 15.5453 11.0504 15.8158 11.0504 16.125C11.0504 16.4342 10.9224 16.7047 10.6662 16.9366C10.4357 17.1685 10.1027 17.2844 9.66733 17.2844H1.4456ZM16.1986 17.2844C15.7632 17.2844 15.4174 17.1685 15.1613 16.9366C14.9308 16.7047 14.8155 16.4342 14.8155 16.125C14.8155 15.8158 14.9308 15.5453 15.1613 15.3134C15.4174 15.0815 15.7632 14.9656 16.1986 14.9656H29.338C29.7734 14.9656 30.1064 15.0815 30.3369 15.3134C30.5931 15.5453 30.7211 15.8158 30.7211 16.125C30.7211 16.4342 30.5931 16.7047 30.3369 16.9366C30.1064 17.1685 29.7734 17.2844 29.338 17.2844H16.1986ZM1.4456 12.3376C1.01018 12.3376 0.664403 12.2216 0.408274 11.9897C0.177758 11.7578 0.0625 11.4873 0.0625 11.1781C0.0625 10.869 0.177758 10.5984 0.408274 10.3665C0.664403 10.1347 1.01018 10.0187 1.4456 10.0187H29.338C29.7734 10.0187 30.1064 10.1347 30.3369 10.3665C30.5931 10.5984 30.7211 10.869 30.7211 11.1781C30.7211 11.4873 30.5931 11.7578 30.3369 11.9897C30.1064 12.2216 29.7734 12.3376 29.338 12.3376H1.4456ZM1.4456 7.3907C1.01018 7.3907 0.664403 7.27476 0.408274 7.04287C0.177758 6.81099 0.0625 6.54046 0.0625 6.23128C0.0625 5.9221 0.177758 5.65157 0.408274 5.41969C0.664403 5.1878 1.01018 5.07186 1.4456 5.07186H14.585C15.0204 5.07186 15.3534 5.1878 15.5839 5.41969C15.84 5.65157 15.9681 5.9221 15.9681 6.23128C15.9681 6.54046 15.84 6.81099 15.5839 7.04287C15.3534 7.27476 15.0204 7.3907 14.585 7.3907H1.4456ZM21.1163 7.3907C20.6809 7.3907 20.3351 7.27476 20.079 7.04287C19.8484 6.81099 19.7332 6.54046 19.7332 6.23128C19.7332 5.9221 19.8484 5.65157 20.079 5.41969C20.3351 5.1878 20.6809 5.07186 21.1163 5.07186H29.338C29.7734 5.07186 30.1064 5.1878 30.3369 5.41969C30.5931 5.65157 30.7211 5.9221 30.7211 6.23128C30.7211 6.54046 30.5931 6.81099 30.3369 7.04287C30.1064 7.27476 29.7734 7.3907 29.338 7.3907H21.1163ZM1.4456 2.44384C1.01018 2.44384 0.664403 2.3279 0.408274 2.09601C0.177758 1.86413 0.0625 1.5936 0.0625 1.28442C0.0625 0.975242 0.177758 0.70471 0.408274 0.472826C0.664403 0.240942 1.01018 0.125 1.4456 0.125H9.66733C10.1027 0.125 10.4357 0.240942 10.6662 0.472826C10.9224 0.70471 11.0504 0.975242 11.0504 1.28442C11.0504 1.5936 10.9224 1.86413 10.6662 2.09601C10.4357 2.3279 10.1027 2.44384 9.66733 2.44384H1.4456ZM21.1163 2.44384C20.6809 2.44384 20.3351 2.3279 20.079 2.09601C19.8484 1.86413 19.7332 1.5936 19.7332 1.28442C19.7332 0.975242 19.8484 0.70471 20.079 0.472826C20.3351 0.240942 20.6809 0.125 21.1163 0.125H29.338C29.7734 0.125 30.1064 0.240942 30.3369 0.472826C30.5931 0.70471 30.7211 0.975242 30.7211 1.28442C30.7211 1.5936 30.5931 1.86413 30.3369 2.09601C30.1064 2.3279 29.7734 2.44384 29.338 2.44384H21.1163Z"
                fill="black"></path>
            <path
                d="M45.7047 32.125C45.2692 32.125 44.9235 32.0091 44.6673 31.7772C44.4368 31.5453 44.3216 31.2748 44.3216 30.9656C44.3216 30.6564 44.4368 30.3859 44.6673 30.154C44.9235 29.9221 45.2692 29.8062 45.7047 29.8062H63.7617C64.1972 29.8062 64.5301 29.9221 64.7606 30.154C65.0168 30.3859 65.1448 30.6564 65.1448 30.9656C65.1448 31.2748 65.0168 31.5453 64.7606 31.7772C64.5301 32.0091 64.1972 32.125 63.7617 32.125H45.7047ZM40.787 27.1781C40.3516 27.1781 40.0058 27.0622 39.7497 26.8303C39.5191 26.5984 39.4039 26.3279 39.4039 26.0187C39.4039 25.7095 39.5191 25.439 39.7497 25.2071C40.0058 24.9752 40.3516 24.8593 40.787 24.8593H49.0087C49.4441 24.8593 49.7771 24.9752 50.0076 25.2071C50.2637 25.439 50.3918 25.7095 50.3918 26.0187C50.3918 26.3279 50.2637 26.5984 50.0076 26.8303C49.7771 27.0622 49.4441 27.1781 49.0087 27.1781H40.787ZM60.4577 27.1781C60.0223 27.1781 59.6765 27.0622 59.4204 26.8303C59.1898 26.5984 59.0746 26.3279 59.0746 26.0187C59.0746 25.7095 59.1898 25.439 59.4204 25.2071C59.6765 24.9752 60.0223 24.8593 60.4577 24.8593H68.6794C69.1148 24.8593 69.4478 24.9752 69.6783 25.2071C69.9344 25.439 70.0625 25.7095 70.0625 26.0187C70.0625 26.3279 69.9344 26.5984 69.6783 26.8303C69.4478 27.0622 69.1148 27.1781 68.6794 27.1781H60.4577ZM40.787 22.2313C40.3516 22.2313 40.0058 22.1153 39.7497 21.8835C39.5191 21.6516 39.4039 21.381 39.4039 21.0719C39.4039 20.7627 39.5191 20.4921 39.7497 20.2603C40.0058 20.0284 40.3516 19.9124 40.787 19.9124H49.0087C49.4441 19.9124 49.7771 20.0284 50.0076 20.2603C50.2637 20.4921 50.3918 20.7627 50.3918 21.0719C50.3918 21.381 50.2637 21.6516 50.0076 21.8835C49.7771 22.1153 49.4441 22.2313 49.0087 22.2313H40.787ZM40.787 17.2844C40.3516 17.2844 40.0058 17.1685 39.7497 16.9366C39.5191 16.7047 39.4039 16.4342 39.4039 16.125C39.4039 15.8158 39.5191 15.5453 39.7497 15.3134C40.0058 15.0815 40.3516 14.9656 40.787 14.9656H49.0087C49.4441 14.9656 49.7771 15.0815 50.0076 15.3134C50.2637 15.5453 50.3918 15.8158 50.3918 16.125C50.3918 16.4342 50.2637 16.7047 50.0076 16.9366C49.7771 17.1685 49.4441 17.2844 49.0087 17.2844H40.787ZM40.787 12.3376C40.3516 12.3376 40.0058 12.2216 39.7497 11.9897C39.5191 11.7578 39.4039 11.4873 39.4039 11.1781C39.4039 10.869 39.5191 10.5984 39.7497 10.3665C40.0058 10.1347 40.3516 10.0187 40.787 10.0187H49.0087C49.4441 10.0187 49.7771 10.1347 50.0076 10.3665C50.2637 10.5984 50.3918 10.869 50.3918 11.1781C50.3918 11.4873 50.2637 11.7578 50.0076 11.9897C49.7771 12.2216 49.4441 12.3376 49.0087 12.3376H40.787ZM40.787 7.3907C40.3516 7.3907 40.0058 7.27476 39.7497 7.04287C39.5191 6.81099 39.4039 6.54046 39.4039 6.23128C39.4039 5.9221 39.5191 5.65157 39.7497 5.41969C40.0058 5.1878 40.3516 5.07186 40.787 5.07186H49.0087C49.4441 5.07186 49.7771 5.1878 50.0076 5.41969C50.2637 5.65157 50.3918 5.9221 50.3918 6.23128C50.3918 6.54046 50.2637 6.81099 50.0076 7.04287C49.7771 7.27476 49.4441 7.3907 49.0087 7.3907H40.787ZM60.4577 7.3907C60.0223 7.3907 59.6765 7.27476 59.4204 7.04287C59.1898 6.81099 59.0746 6.54046 59.0746 6.23128C59.0746 5.9221 59.1898 5.65157 59.4204 5.41969C59.6765 5.1878 60.0223 5.07186 60.4577 5.07186H68.6794C69.1148 5.07186 69.4478 5.1878 69.6783 5.41969C69.9344 5.65157 70.0625 5.9221 70.0625 6.23128C70.0625 6.54046 69.9344 6.81099 69.6783 7.04287C69.4478 7.27476 69.1148 7.3907 68.6794 7.3907H60.4577ZM45.7047 2.44384C45.2692 2.44384 44.9235 2.3279 44.6673 2.09601C44.4368 1.86413 44.3216 1.5936 44.3216 1.28442C44.3216 0.975242 44.4368 0.70471 44.6673 0.472826C44.9235 0.240942 45.2692 0.125 45.7047 0.125H63.7617C64.1972 0.125 64.5301 0.240942 64.7606 0.472826C65.0168 0.70471 65.1448 0.975242 65.1448 1.28442C65.1448 1.5936 65.0168 1.86413 64.7606 2.09601C64.5301 2.3279 64.1972 2.44384 63.7617 2.44384H45.7047Z"
                fill="black"></path>
        </svg> -->
        <Icon name="lucide:hand-metal" size="36" />
    </div>
    <nav>
        <a
            href="https://www.linkedin.com/in/nicolas-chesn%C3%A9-1613b04a/"
            ><Icon name="uil:linkedin" size="24" /></a
        >
        <a href="https://github.com/Norbz"
            ><Icon name="uil:github" size="24" /></a
        >
    </nav>
</header>

<style lang="scss" scoped>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--textColor);
        background-color: var(--mainColor);

        border-bottom: $border;
        position: sticky;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        height: 60px;
        padding: 0;
        z-index: 100;

        div {
            margin: 0;
            line-height: 0;
            padding-left: 1rem;;
        }

        nav {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            a,
            button {
                display: flex;
                appearance: none;
                height: 100%;
                border: 0;
                border-left: $border;
                text-align: center;
                justify-content: center;
                align-items: center;
                padding: 0;
                min-width: 60px;
                color: var(--textColor);
                background: var(--mainColor);
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background: var(--textColor);
                    color: var(--mainColor);
                }

                &:visited {
                    color: black !important;
                }
            }

            button {
              &:after {
                content: "";
                width: 0;
                transition: all 0.2s ease-in-out;
              }

              &.copied {
                color: var(--mainColor);
                background: var(--textColor);
                &:after {
                    content: "Email copied to the clipboard";
                    // position: absolute;
                    // top: 0;
                    // left: 0;
                    // right: 0;
                    // bottom: 0;
                    height: 100%;
                    width: auto;
                    padding: 0 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--textColor);
                    color: var(--mainColor);
                }
              }
            }
        }
    }
</style>
