---
import { Icon } from 'astro-icon/components'
const { titleLevel, ...rest } = Astro.props;
const HeadingElement = `${"h"+(titleLevel || 2)}`;
---
<section>
  <HeadingElement><slot name="title" {...rest} class="title"></slot></HeadingElement>
  <div>
    <slot />
  </div>
</section>
<style lang="scss">
section {
  $sectionGap: 4rem;
  
  position: relative;
  margin: 8rem auto;
  max-width: 1920px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4rem;

  >:last-child {
    justify-self: flex-end;
  }
  h2, h3, h4 {
    // place-content: center;
    @include above(calc(600px + ($sectionGap + ($layoutMargin * 2)))) {
      height: fit-content;
      position: sticky;
      top: 60px;
      padding-top: 1rem;
    }
  }
}
</style>