:root {
  --fontFamily: 'Space Grotesk', sans-serif;
  --mainColor: #{$yellow};
  --textColor: #{$black};
  --headerHeight: #{$headerHeight};
  --footerHeight: #{$footerHeight};
  --layoutMargin: #{$layoutMargin};
}