---
import CommonHeader from '../components/common/Header.astro';
import AppSticky from '../components/common/AppSticky.astro';
import CommonFooter from '../components/common/Footer.astro';
import '../scss/reset.scss';
import '../scss/variables.scss';
import '../scss/main.scss';

import '@fontsource/space-grotesk';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Nicolas Chesné - Full stack Freelance Developer - Based in Paris - 20 years of experience" />
		<meta name="keywords" content="freelance, developer, fullstack, web, javascript, strapi, vue, nodejs, paris, sustainable web design" />
		<meta name="author" content="Nicolas Chesné" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<meta name="theme-color" content="#000000" />
		<meta property="og:title" content="Nicolas Chesné - Fullstack Freelance Developer" />
		<meta property="og:description" content="Nicolas Chesné - Full stack Freelance Developer - Based in Paris - 20 years of experience" />
		<meta property="og:image" content="/og-image.png" />
		<meta property="og:url" content="https://nicolaschesne.fr" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Nicolas Chesné" />
		<meta property="og:locale" content="en_US" />
		
		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Nicolas Chesné - Fullstack Freelance Developer" />
		<meta name="twitter:description" content="Nicolas Chesné - Full stack Freelance Developer - Based in Paris - 20 years of experience" />
		<meta name="twitter:image" content="/og-image.png" />
		
		<title>Nicolas Chesné - Fullstack Freelance Developer</title>
	</head>
	<body>
		<CommonHeader/>
		<main>
			<slot />
		</main>
		<AppSticky />
		<CommonFooter class="app__footer"/>
	</body>
</html>

<style>

	html,
	body {
		margin: 0;
		width: 100%;
		position: relative;
	}

	main {
  	padding: 2rem 2rem 0;
	}
</style>
